
// Heading Fonts
@font-face {
    font-family: SofiaSans;
    src: url(theme-layout/fonts/SofiaSans-Medium.ttf);
}

@font-face {
    font-family: SofiaSans-bold;
    src: url(theme-layout/fonts/SofiaSans-Bold.ttf);
}




