



/*      Body Variables    */

$font-family: SofiaSans;
$fw : 400;
$normal-fs: 22px;
$body-color: #444139;
$body-line-height: 27px;
$body-transition: 0.3s all ease-in-out;


/*     Color Variables    */

$color1:#444139;
$color2:#00E0CE;
$color3: #FAC581;
$color4: #000;
$color5: #81DDFA;
$color6: #A2F6E5;
$color7:#E5E5E5;
$color8:#BCF6E5;
$color9:#A2F6E5;
$color10:#FFBC64;
$color11:#E4F5F3;
$color12:#E4E9F5;
$color13:#FCFCFC;
$color14:#81DDFA;



/*     Responsiveness BreakPoinnts Variables     */

/*     Max-width      */
$breakpoint-xxl1 : 1399px;
$breakpoint-xxl : 1370px;
$breakpoint-xl : 1200px;
$breakpoint-xl1 : 1100px;
$breakpoint-lg : 1024px;
$breakpoint-md : 991px;
$breakpoint-sm : 767px;
$breakpoint-xm : 576px;
$breakpoint-xm1 : 470px;
$breakpoint-xm2 : 376px;

/*     Min-width      */
$breakpoint-min-xl : 1201px;